{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="login-form">
    <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div class="login-form">
        <h1>Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        {% if messages %}
            <div class="form-errors">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
