{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать статью</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div class="all-articles">
        <a href="{% url 'archive' %}">Все статьи</a>
    </div>
    <div class="article">
        <h1>Создать новую статью</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
